@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

* {
  transition: all 250ms;
  cursor: none;
  color: white;
}

body {
  background-color: #e9e9e9;
  box-shadow: inset 0px 0px 1vw #000;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

html {
  transition: all 300ms;
}

.wrapper {
  min-height: 100vh;
  padding-top: 6vh;
  backdrop-filter: blur(100px);
}

.title {
  text-align: center;
  font-size: 6vh;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  font-weight: 400;
}

.box {
  width: min(80rem, 90%);
  height: min(10vh, 90%);
  margin: 30px auto;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.box-title {
  width: fit-content;
  padding: 5px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
  border-radius: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: rotate 4s ease infinite;
}

.about {
  font-size: 36px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

.yt-button {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  font-size: 32px;
  backdrop-filter: blur(10px);
}

.yt-button:hover {
  transform: rotate(2deg) scale(105%);
}

.disc-srvr-button {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  font-size: 32px;
  backdrop-filter: blur(10px);
}

.disc-srvr-button:hover {
  transform: rotate(2deg) scale(105%);
}

a {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.buttons {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 25px;
}

#madeWithLove {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.circle1 {
  background-color: rgb(210, 96, 255);
  border-radius: 100%;
  width: 900px;
  height: 900px;
  position: absolute;
  top: 120px;
  right: 100px;
}

.circle2 {
  background-color: rgb(162, 104, 255);
  border-radius: 100%;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 300px;
  right: 700px;
}

.circle3 {
  background-color: rgb(106, 200, 255);
  border-radius: 100%;
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100px;
}

.circle7 {
  background-color: rgb(69, 196, 255);
  border-radius: 100%;
  width: 800px;
  height: 200px;
  position: absolute;
  left: 600px;
}

.circle4 {
  background-color: rgba(104, 220, 255, 0.7);
  border-radius: 20%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: inset 0px 0px 0px 10px white, 0 25px 25px rgba(0, 0, 0, 0.4);
  top: 320px;
  left: 240px;
  animation: downUp 10s ease infinite;
  scale: 120%;
}

.circle5 {
  background-color: rgba(234, 78, 255, 0.7);
  border-radius: 20%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: inset 0px 0px 0px 10px white, 0 25px 25px rgba(0, 0, 0, 0.4);
  top: 200px;
  right: 200px;
  animation: upDown 8s ease infinite;
  scale: 130%;
}

.circle6 {
  background-color: rgba(207, 104, 255, 0.7);
  border-radius: 20%;
  width: 200px;
  height: 200px;
  position: absolute;
  box-shadow: inset 0px 0px 0px 10px white, 0 25px 25px rgba(0, 0, 0, 0.4);
  top: 400px;
  left: 750px;
  animation: downUp 9s ease infinite;
}

.cursor {
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: solid 1px #000;
  position: absolute;
  border-radius: 10px;
  transition: none;
  z-index: 100;
}

.cursor__follower1 {
  transition: transform 0.1s;
  width: 13px;
  height: 13px;
  translate: 1px 1px;
  z-index: 50;
}

.cursor__follower2 {
  transition: transform 0.13s;
  width: 12px;
  height: 12px;
  translate: 2px 2px;
  z-index: 49;
}

.cursor__follower3 {
  transition: transform 0.16s;
  width: 11px;
  height: 11px;
  translate: 3px 3px;
  z-index: 48;
}

.cursor__follower4 {
  transition: transform 0.19s;
  width: 10px;
  height: 10px;
  translate: 3px 3px;
  z-index: 47;
}

@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes downUp {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px 100px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes upDown {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px -100px;
  }
  100% {
    translate: 0px 0px;
  }
}
